<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Ng-template</mat-toolbar>
    <mat-expansion-panel *ngFor="let module of navigation">
      <mat-expansion-panel-header>{{module.module}}</mat-expansion-panel-header>
    <mat-nav-list>
      <a *ngFor="let route of module.routes" mat-list-item [routerLink]="[route.uri]">{{route.title}}</a>
    </mat-nav-list>
    </mat-expansion-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ng-template</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
